openapi: 3.1.0
info:
  title: hlens API
  version: 1.1.0
  description: |
    The perp positioning prism. Public GET endpoints need no auth.
    Conventions: snake_case; `ts` = unix ms; `*_usd` = USD; `*_share` = 0..1; `*_pct` = percent;
    funding rates as decimals (0.0001 = 0.01%). Missing data is null (typed as [T, "null"]), never 0.
    Every aggregate carries `as_of` and `sources`. Lists use the envelope {as_of, sources, items, next_cursor}.
servers:
  - url: https://api.hlens.xyz/v1
security: []
tags:
  - { name: market, description: "Prism, context, levels, history, insights" }
  - { name: funding, description: "Funding, open interest, long/short ratios" }
  - { name: liquidations, description: "Real liquidations and model heatmap" }
  - { name: whales, description: "Tracked wallets, positions, events, boards" }
  - { name: events, description: "Market events, scorecard, calendar, evidence" }
  - { name: macro, description: "Macro context; options and basis are v1.1" }
  - { name: system, description: "Status and share images" }
  - { name: me, description: "Authenticated user resources" }
x-hlens-ws:
  url: /v1/stream
  subscribe: "#/components/schemas/StreamSubscribe"
  message: "#/components/schemas/StreamMessage"
  channels:
    - { pattern: "prism:{symbol}", payload: "#/components/schemas/PrismPatch", cadence_s: 10 }
    - { pattern: "state:{symbol}", payload: "#/components/schemas/MarketState", cadence_s: 0 }
    - { pattern: "liq:*|liq:{symbol}", payload: "#/components/schemas/LiqBatch", cadence_s: 0.25 }
    - { pattern: "whale:events|whale:{address}", payload: "#/components/schemas/WhaleEvent", cadence_s: 0 }
    - { pattern: "events:*", payload: "#/components/schemas/Event", cadence_s: 0 }

paths:
  /coins:
    get:
      operationId: listCoins
      x-hlens-mcp: listCoins
      tags: [market]
      summary: Coins with prism summary (screener / batch lookup)
      x-hlens-cache: 60
      parameters:
        - { name: symbols, in: query, description: comma list; batch lookup for position bar, style: form, explode: false, schema: { type: array, items: { $ref: "#/components/schemas/Symbol" }, maxItems: 50 } }
        - { name: fields, in: query, description: extra columns, style: form, explode: false, schema: { type: array, items: { type: string, enum: [funding_spread, oi_chg24h_pct, taker_buy_share, oi_pctl_30d, liq_24h_long_usd, liq_24h_short_usd, vol24h_usd] } } }
        - { name: preset, in: query, schema: { $ref: "#/components/schemas/Preset" } }
        - { name: sort, in: query, schema: { type: string, enum: [crowding, -crowding, funding_apr_pct, -funding_apr_pct, oi_total_usd, -oi_total_usd, oi_chg24h_pct, -oi_chg24h_pct, gap_pts, -gap_pts, chg24h_pct, -chg24h_pct], default: -oi_total_usd } }
        - { $ref: "#/components/parameters/Limit" }
        - { $ref: "#/components/parameters/Cursor" }
      responses:
        "200": { description: OK, headers: { ETag: { $ref: "#/components/headers/ETag" }, X-RateLimit-Limit: { $ref: "#/components/headers/X-RateLimit-Limit" }, X-RateLimit-Remaining: { $ref: "#/components/headers/X-RateLimit-Remaining" }, X-RateLimit-Reset: { $ref: "#/components/headers/X-RateLimit-Reset" } }, content: { application/json: { schema: { $ref: "#/components/schemas/CoinList" } } } }
        "400": { $ref: "#/components/responses/BadRequest" }
        "429": { $ref: "#/components/responses/TooManyRequests" }
        "500": { $ref: "#/components/responses/ServerError" }
  /coins/{symbol}/prism:
    get:
      operationId: getPrism
      x-hlens-mcp: getPrism
      tags: [market]
      summary: Full prism for one coin
      x-hlens-cache: 10
      parameters: [ { $ref: "#/components/parameters/SymbolPath" } ]
      responses:
        "200": { description: OK, headers: { ETag: { $ref: "#/components/headers/ETag" }, X-RateLimit-Limit: { $ref: "#/components/headers/X-RateLimit-Limit" }, X-RateLimit-Remaining: { $ref: "#/components/headers/X-RateLimit-Remaining" }, X-RateLimit-Reset: { $ref: "#/components/headers/X-RateLimit-Reset" } }, content: { application/json: { schema: { $ref: "#/components/schemas/Prism" } } } }
        "404": { $ref: "#/components/responses/NotFound" }
        "429": { $ref: "#/components/responses/TooManyRequests" }
        "500": { $ref: "#/components/responses/ServerError" }
  /coins/{symbol}/explain:
    get:
      operationId: explainCoin
      x-hlens-mcp: explainCoin
      tags: [market]
      summary: Bilingual explanation of the prism with evidence tags and the inputs used
      x-hlens-cache: 60
      parameters: [ { $ref: "#/components/parameters/SymbolPath" } ]
      responses:
        "200": { description: OK, content: { application/json: { schema: { $ref: "#/components/schemas/Explanation" } } } }
        "404": { $ref: "#/components/responses/NotFound" }
        "429": { $ref: "#/components/responses/TooManyRequests" }
        "500": { $ref: "#/components/responses/ServerError" }
  /coins/{symbol}/context:
    get:
      operationId: getContext
      x-hlens-mcp: getContext
      tags: [market]
      summary: Market context (state, key levels, last 24h, drivers, calendar)
      x-hlens-cache: 60
      parameters: [ { $ref: "#/components/parameters/SymbolPath" } ]
      responses:
        "200": { description: OK, headers: { ETag: { $ref: "#/components/headers/ETag" }, X-RateLimit-Limit: { $ref: "#/components/headers/X-RateLimit-Limit" }, X-RateLimit-Remaining: { $ref: "#/components/headers/X-RateLimit-Remaining" }, X-RateLimit-Reset: { $ref: "#/components/headers/X-RateLimit-Reset" } }, content: { application/json: { schema: { $ref: "#/components/schemas/Context" } } } }
        "404": { $ref: "#/components/responses/NotFound" }
        "429": { $ref: "#/components/responses/TooManyRequests" }
        "500": { $ref: "#/components/responses/ServerError" }
  /coins/{symbol}/levels:
    get:
      operationId: getLevels
      x-hlens-mcp: getLevels
      tags: [market]
      summary: Price ladder — real liquidations and whale liquidation prices first, model clusters second
      x-hlens-cache: 60
      parameters:
        - { $ref: "#/components/parameters/SymbolPath" }
        - { name: range_pct, in: query, schema: { type: number, minimum: 1, maximum: 50, default: 15 } }
        - { name: lev_weights, in: query, description: "e.g. 10:0.4,25:0.3,50:0.2,100:0.1", schema: { type: string, pattern: "^(\\d+:\\d*\\.?\\d+)(,\\d+:\\d*\\.?\\d+)*$" } }
      responses:
        "200": { description: OK, headers: { ETag: { $ref: "#/components/headers/ETag" }, X-RateLimit-Limit: { $ref: "#/components/headers/X-RateLimit-Limit" }, X-RateLimit-Remaining: { $ref: "#/components/headers/X-RateLimit-Remaining" }, X-RateLimit-Reset: { $ref: "#/components/headers/X-RateLimit-Reset" } }, content: { application/json: { schema: { $ref: "#/components/schemas/Levels" } } } }
        "404": { $ref: "#/components/responses/NotFound" }
        "429": { $ref: "#/components/responses/TooManyRequests" }
        "500": { $ref: "#/components/responses/ServerError" }
  /coins/{symbol}/history:
    get:
      operationId: getHistory
      x-hlens-mcp: getHistory
      tags: [market]
      summary: Time series of prism fields (aggregate, or one venue)
      x-hlens-cache: 60
      parameters:
        - { $ref: "#/components/parameters/SymbolPath" }
        - { name: fields, in: query, required: true, style: form, explode: false, schema: { type: array, minItems: 1, items: { $ref: "#/components/schemas/HistoryField" } } }
        - { name: venue, in: query, description: omit for aggregate, schema: { $ref: "#/components/schemas/Venue" } }
        - { name: interval, in: query, schema: { type: string, enum: [1m, 5m, 15m, 1h, 4h, 1d], default: 1h } }
        - { $ref: "#/components/parameters/From" }
        - { $ref: "#/components/parameters/To" }
      responses:
        "200": { description: OK, headers: { ETag: { $ref: "#/components/headers/ETag" }, X-RateLimit-Limit: { $ref: "#/components/headers/X-RateLimit-Limit" }, X-RateLimit-Remaining: { $ref: "#/components/headers/X-RateLimit-Remaining" }, X-RateLimit-Reset: { $ref: "#/components/headers/X-RateLimit-Reset" } }, content: { application/json: { schema: { $ref: "#/components/schemas/Series" } } } }
        "400": { $ref: "#/components/responses/BadRequest" }
        "404": { $ref: "#/components/responses/NotFound" }
        "429": { $ref: "#/components/responses/TooManyRequests" }
        "500": { $ref: "#/components/responses/ServerError" }
  /coins/{symbol}/state-history:
    get:
      operationId: getStateHistory
      x-hlens-mcp: getStateHistory
      tags: [market]
      summary: Hourly state labels for the state strip
      x-hlens-cache: 300
      parameters:
        - { $ref: "#/components/parameters/SymbolPath" }
        - { name: days, in: query, schema: { type: integer, minimum: 1, maximum: 365, default: 30 } }
      responses:
        "200": { description: OK, content: { application/json: { schema: { $ref: "#/components/schemas/StateHistory" } } } }
        "404": { $ref: "#/components/responses/NotFound" }
        "429": { $ref: "#/components/responses/TooManyRequests" }
        "500": { $ref: "#/components/responses/ServerError" }
  /coins/{symbol}/snapshot:
    get:
      operationId: getSnapshot
      x-hlens-mcp: getSnapshot
      tags: [market]
      summary: Prism and sentence as they were at a past time (replay)
      x-hlens-cache: 3600
      parameters:
        - { $ref: "#/components/parameters/SymbolPath" }
        - { name: at, in: query, required: true, schema: { $ref: "#/components/schemas/Ts" } }
      responses:
        "200": { description: OK, content: { application/json: { schema: { $ref: "#/components/schemas/Snapshot" } } } }
        "404": { $ref: "#/components/responses/NotFound" }
        "429": { $ref: "#/components/responses/TooManyRequests" }
        "500": { $ref: "#/components/responses/ServerError" }
  /market/breadth:
    get:
      operationId: getBreadth
      x-hlens-mcp: getBreadth
      tags: [market]
      summary: Market breadth over top 100 coins
      x-hlens-cache: 300
      responses:
        "200": { description: OK, content: { application/json: { schema: { $ref: "#/components/schemas/Breadth" } } } }
        "429": { $ref: "#/components/responses/TooManyRequests" }
        "500": { $ref: "#/components/responses/ServerError" }
  /insights:
    get:
      operationId: getInsights
      x-hlens-mcp: getInsights
      tags: [market]
      summary: Home page — abnormal three, market sentence, question cards
      x-hlens-cache: 60
      responses:
        "200": { description: OK, content: { application/json: { schema: { $ref: "#/components/schemas/Insights" } } } }
        "429": { $ref: "#/components/responses/TooManyRequests" }
        "500": { $ref: "#/components/responses/ServerError" }

  /funding:
    get:
      operationId: listFunding
      x-hlens-mcp: listFunding
      tags: [funding]
      summary: Funding matrix, all coins x venues
      x-hlens-cache: 60
      parameters:
        - { name: sort, in: query, schema: { type: string, enum: [funding_apr_pct_abs, -funding_apr_pct_abs, funding_spread, -funding_spread, oi_total_usd, -oi_total_usd], default: -funding_apr_pct_abs } }
        - { $ref: "#/components/parameters/Limit" }
        - { $ref: "#/components/parameters/Cursor" }
      responses:
        "200": { description: OK, headers: { ETag: { $ref: "#/components/headers/ETag" }, X-RateLimit-Limit: { $ref: "#/components/headers/X-RateLimit-Limit" }, X-RateLimit-Remaining: { $ref: "#/components/headers/X-RateLimit-Remaining" }, X-RateLimit-Reset: { $ref: "#/components/headers/X-RateLimit-Reset" } }, content: { application/json: { schema: { $ref: "#/components/schemas/FundingList" } } } }
        "429": { $ref: "#/components/responses/TooManyRequests" }
        "500": { $ref: "#/components/responses/ServerError" }
  /funding/{symbol}/history:
    get:
      operationId: getFundingHistory
      x-hlens-mcp: getFundingHistory
      tags: [funding]
      summary: Funding history per venue and cumulative cost
      x-hlens-cache: 300
      parameters:
        - { $ref: "#/components/parameters/SymbolPath" }
        - { name: days, in: query, schema: { type: integer, minimum: 1, maximum: 365, default: 30 } }
      responses:
        "200": { description: OK, content: { application/json: { schema: { $ref: "#/components/schemas/FundingHistory" } } } }
        "404": { $ref: "#/components/responses/NotFound" }
        "429": { $ref: "#/components/responses/TooManyRequests" }
        "500": { $ref: "#/components/responses/ServerError" }
  /funding/arb:
    get:
      operationId: listFundingArb
      x-hlens-mcp: listFundingArb
      tags: [funding]
      summary: Cross-venue funding spreads with fee-adjusted APR (heuristic)
      x-hlens-cache: 60
      responses:
        "200": { description: OK, content: { application/json: { schema: { $ref: "#/components/schemas/ArbList" } } } }
        "429": { $ref: "#/components/responses/TooManyRequests" }
        "500": { $ref: "#/components/responses/ServerError" }
  /oi/{symbol}/history:
    get:
      operationId: getOiHistory
      x-hlens-mcp: getOiHistory
      tags: [funding]
      summary: Open interest history per venue
      x-hlens-cache: 300
      parameters:
        - { $ref: "#/components/parameters/SymbolPath" }
        - { name: interval, in: query, schema: { type: string, enum: [5m, 1h, 1d], default: 1h } }
        - { $ref: "#/components/parameters/From" }
        - { $ref: "#/components/parameters/To" }
      responses:
        "200": { description: OK, content: { application/json: { schema: { $ref: "#/components/schemas/Series" } } } }
        "404": { $ref: "#/components/responses/NotFound" }
        "429": { $ref: "#/components/responses/TooManyRequests" }
        "500": { $ref: "#/components/responses/ServerError" }
  /ls/{symbol}:
    get:
      operationId: listLsRatios
      x-hlens-mcp: listLsRatios
      tags: [funding]
      summary: Current long/short ratios by venue and kind
      x-hlens-cache: 300
      parameters: [ { $ref: "#/components/parameters/SymbolPath" } ]
      responses:
        "200": { description: OK, content: { application/json: { schema: { $ref: "#/components/schemas/LsRatioList" } } } }
        "404": { $ref: "#/components/responses/NotFound" }
        "429": { $ref: "#/components/responses/TooManyRequests" }
        "500": { $ref: "#/components/responses/ServerError" }

  /liquidations/recent:
    get:
      operationId: listLiquidations
      x-hlens-mcp: listLiquidations
      tags: [liquidations]
      summary: Recent real liquidations (a lower bound — exchanges throttle their feeds)
      x-hlens-cache: 10
      parameters:
        - { $ref: "#/components/parameters/SymbolQuery" }
        - { name: min_usd, in: query, schema: { type: number, minimum: 0, default: 0 } }
        - { $ref: "#/components/parameters/Limit" }
        - { $ref: "#/components/parameters/Cursor" }
      responses:
        "200": { description: OK, headers: { ETag: { $ref: "#/components/headers/ETag" }, X-RateLimit-Limit: { $ref: "#/components/headers/X-RateLimit-Limit" }, X-RateLimit-Remaining: { $ref: "#/components/headers/X-RateLimit-Remaining" }, X-RateLimit-Reset: { $ref: "#/components/headers/X-RateLimit-Reset" } }, content: { application/json: { schema: { $ref: "#/components/schemas/LiquidationList" } } } }
        "429": { $ref: "#/components/responses/TooManyRequests" }
        "500": { $ref: "#/components/responses/ServerError" }
  /liquidations/agg:
    get:
      operationId: getLiqAgg
      x-hlens-mcp: getLiqAgg
      tags: [liquidations]
      summary: Aggregated liquidations by symbol / venue / side
      x-hlens-cache: 60
      parameters:
        - { name: window, in: query, schema: { type: string, enum: [1h, 4h, 24h], default: 24h } }
        - { name: group_by, in: query, schema: { type: string, enum: [symbol, venue, side], default: symbol } }
      responses:
        "200": { description: OK, content: { application/json: { schema: { $ref: "#/components/schemas/LiqAggList" } } } }
        "429": { $ref: "#/components/responses/TooManyRequests" }
        "500": { $ref: "#/components/responses/ServerError" }
  /liquidations/heatmap/{symbol}:
    get:
      operationId: getLiqHeatmap
      x-hlens-mcp: getLiqHeatmap
      tags: [liquidations]
      summary: Model-estimated liquidation density grid (labelled model_estimated)
      x-hlens-cache: 300
      parameters:
        - { $ref: "#/components/parameters/SymbolPath" }
        - { name: days, in: query, schema: { type: integer, enum: [7, 30], default: 7 } }
      responses:
        "200": { description: OK, content: { application/json: { schema: { $ref: "#/components/schemas/Heatmap" } } } }
        "404": { $ref: "#/components/responses/NotFound" }
        "429": { $ref: "#/components/responses/TooManyRequests" }
        "500": { $ref: "#/components/responses/ServerError" }
  /liquidations/cascades:
    get:
      operationId: listCascades
      x-hlens-mcp: listCascades
      tags: [liquidations]
      summary: Detected liquidation cascades (relative threshold)
      x-hlens-cache: 60
      parameters: [ { $ref: "#/components/parameters/From" }, { $ref: "#/components/parameters/To" }, { $ref: "#/components/parameters/Limit" }, { $ref: "#/components/parameters/Cursor" } ]
      responses:
        "200": { description: OK, content: { application/json: { schema: { $ref: "#/components/schemas/CascadeList" } } } }
        "429": { $ref: "#/components/responses/TooManyRequests" }
        "500": { $ref: "#/components/responses/ServerError" }

  /whales:
    get:
      operationId: listWallets
      x-hlens-mcp: listWallets
      tags: [whales]
      summary: Tracked wallets
      x-hlens-cache: 60
      parameters:
        - { name: sort, in: query, schema: { type: string, enum: [account_value_usd, -account_value_usd, pnl_30d_usd, -pnl_30d_usd, roi_30d, -roi_30d, hit_rate_24h, -hit_rate_24h], default: -account_value_usd } }
        - { name: source, in: query, schema: { type: string, enum: [hyperliquid, okx, all], default: all } }
        - { $ref: "#/components/parameters/Limit" }
        - { $ref: "#/components/parameters/Cursor" }
      responses:
        "200": { description: OK, headers: { ETag: { $ref: "#/components/headers/ETag" }, X-RateLimit-Limit: { $ref: "#/components/headers/X-RateLimit-Limit" }, X-RateLimit-Remaining: { $ref: "#/components/headers/X-RateLimit-Remaining" }, X-RateLimit-Reset: { $ref: "#/components/headers/X-RateLimit-Reset" } }, content: { application/json: { schema: { $ref: "#/components/schemas/WalletList" } } } }
        "429": { $ref: "#/components/responses/TooManyRequests" }
        "500": { $ref: "#/components/responses/ServerError" }
  /whales/{address}:
    get:
      operationId: getWallet
      x-hlens-mcp: getWallet
      tags: [whales]
      summary: Wallet detail with positions, equity curve and recent events
      x-hlens-cache: 60
      parameters: [ { $ref: "#/components/parameters/AddressPath" } ]
      responses:
        "200": { description: OK, content: { application/json: { schema: { $ref: "#/components/schemas/WalletDetail" } } } }
        "404": { $ref: "#/components/responses/NotFound" }
        "429": { $ref: "#/components/responses/TooManyRequests" }
        "500": { $ref: "#/components/responses/ServerError" }
  /whales/{address}/fills:
    get:
      operationId: listWalletFills
      x-hlens-mcp: listWalletFills
      tags: [whales]
      summary: Wallet fills, newest first
      x-hlens-cache: 60
      parameters: [ { $ref: "#/components/parameters/AddressPath" }, { $ref: "#/components/parameters/Limit" }, { $ref: "#/components/parameters/Cursor" } ]
      responses:
        "200": { description: OK, content: { application/json: { schema: { $ref: "#/components/schemas/FillList" } } } }
        "404": { $ref: "#/components/responses/NotFound" }
        "429": { $ref: "#/components/responses/TooManyRequests" }
        "500": { $ref: "#/components/responses/ServerError" }
  /whales/positions:
    get:
      operationId: listWhalePositions
      x-hlens-mcp: listWhalePositions
      tags: [whales]
      summary: Largest open positions across tracked wallets
      x-hlens-cache: 30
      parameters:
        - { $ref: "#/components/parameters/SymbolQuery" }
        - { name: sort, in: query, schema: { type: string, enum: [notional_usd, -notional_usd, liq_distance_pct, -liq_distance_pct, upnl_usd, -upnl_usd], default: -notional_usd } }
        - { $ref: "#/components/parameters/Limit" }
        - { $ref: "#/components/parameters/Cursor" }
      responses:
        "200": { description: OK, content: { application/json: { schema: { $ref: "#/components/schemas/WhalePositionList" } } } }
        "429": { $ref: "#/components/responses/TooManyRequests" }
        "500": { $ref: "#/components/responses/ServerError" }
  /whales/events:
    get:
      operationId: listWhaleEvents
      x-hlens-mcp: listWhaleEvents
      tags: [whales]
      summary: Whale events (open / add / reduce / close / flip / near_liq / liquidated)
      x-hlens-cache: 10
      parameters:
        - { $ref: "#/components/parameters/SymbolQuery" }
        - { name: types, in: query, style: form, explode: false, schema: { type: array, items: { $ref: "#/components/schemas/WhaleEventType" } } }
        - { name: min_usd, in: query, schema: { type: number, minimum: 0, default: 0 } }
        - { name: address, in: query, schema: { $ref: "#/components/schemas/Address" } }
        - { $ref: "#/components/parameters/From" }
        - { $ref: "#/components/parameters/Limit" }
        - { $ref: "#/components/parameters/Cursor" }
      responses:
        "200": { description: OK, headers: { ETag: { $ref: "#/components/headers/ETag" }, X-RateLimit-Limit: { $ref: "#/components/headers/X-RateLimit-Limit" }, X-RateLimit-Remaining: { $ref: "#/components/headers/X-RateLimit-Remaining" }, X-RateLimit-Reset: { $ref: "#/components/headers/X-RateLimit-Reset" } }, content: { application/json: { schema: { $ref: "#/components/schemas/WhaleEventList" } } } }
        "429": { $ref: "#/components/responses/TooManyRequests" }
        "500": { $ref: "#/components/responses/ServerError" }
  /whales/by-coin:
    get:
      operationId: listWhaleByCoin
      x-hlens-mcp: listWhaleByCoin
      tags: [whales]
      summary: Whale long/short notional per coin
      x-hlens-cache: 60
      responses:
        "200": { description: OK, content: { application/json: { schema: { $ref: "#/components/schemas/WhaleCoinAggList" } } } }
        "429": { $ref: "#/components/responses/TooManyRequests" }
        "500": { $ref: "#/components/responses/ServerError" }
  /whales/boards:
    get:
      operationId: getWhaleBoards
      x-hlens-mcp: getWhaleBoards
      tags: [whales]
      summary: Bets / rekt-soon / closed-loss / winners-losers boards in one call
      x-hlens-cache: 30
      responses:
        "200": { description: OK, content: { application/json: { schema: { $ref: "#/components/schemas/WhaleBoards" } } } }
        "429": { $ref: "#/components/responses/TooManyRequests" }
        "500": { $ref: "#/components/responses/ServerError" }

  /events:
    get:
      operationId: listEvents
      x-hlens-mcp: listEvents
      tags: [events]
      summary: Market event timeline ("what did I miss")
      x-hlens-cache: 60
      parameters:
        - { name: since, in: query, required: true, schema: { $ref: "#/components/schemas/Ts" } }
        - { name: until, in: query, schema: { $ref: "#/components/schemas/Ts" } }
        - { name: types, in: query, style: form, explode: false, schema: { type: array, items: { $ref: "#/components/schemas/EventType" } } }
        - { $ref: "#/components/parameters/SymbolQuery" }
        - { $ref: "#/components/parameters/Limit" }
        - { $ref: "#/components/parameters/Cursor" }
      responses:
        "200": { description: OK, headers: { ETag: { $ref: "#/components/headers/ETag" }, X-RateLimit-Limit: { $ref: "#/components/headers/X-RateLimit-Limit" }, X-RateLimit-Remaining: { $ref: "#/components/headers/X-RateLimit-Remaining" }, X-RateLimit-Reset: { $ref: "#/components/headers/X-RateLimit-Reset" } }, content: { application/json: { schema: { $ref: "#/components/schemas/EventList" } } } }
        "400": { $ref: "#/components/responses/BadRequest" }
        "429": { $ref: "#/components/responses/TooManyRequests" }
        "500": { $ref: "#/components/responses/ServerError" }
  /scorecard:
    get:
      operationId: getScorecard
      x-hlens-mcp: getScorecard
      tags: [events]
      summary: Forward-return distributions for pre-registered groups (states, whale events, OI quadrants)
      x-hlens-cache: 3600
      parameters:
        - { name: window, in: query, schema: { type: string, enum: [30d, 90d, 365d], default: 90d } }
        - { name: group_prefix, in: query, schema: { type: string, enum: [state, whale, oiq, crowd] } }
      responses:
        "200": { description: OK, content: { application/json: { schema: { $ref: "#/components/schemas/Scorecard" } } } }
        "429": { $ref: "#/components/responses/TooManyRequests" }
        "500": { $ref: "#/components/responses/ServerError" }
  /calendar:
    get:
      operationId: listCalendar
      x-hlens-mcp: listCalendar
      tags: [events]
      summary: Upcoming funding settlements, expiries, macro dates, listings
      x-hlens-cache: 3600
      parameters: [ { name: days, in: query, schema: { type: integer, minimum: 1, maximum: 30, default: 7 } } ]
      responses:
        "200": { description: OK, content: { application/json: { schema: { $ref: "#/components/schemas/CalendarList" } } } }
        "429": { $ref: "#/components/responses/TooManyRequests" }
        "500": { $ref: "#/components/responses/ServerError" }
  /evidence:
    get:
      operationId: listEvidence
      x-hlens-mcp: listEvidence
      tags: [events]
      summary: Evidence library backing every `verified` tag
      x-hlens-cache: 3600
      responses:
        "200": { description: OK, content: { application/json: { schema: { $ref: "#/components/schemas/EvidenceList" } } } }
        "429": { $ref: "#/components/responses/TooManyRequests" }
        "500": { $ref: "#/components/responses/ServerError" }
  /changelog:
    get:
      operationId: listChangelog
      tags: [events]
      summary: Rule, template and schema changes
      x-hlens-cache: 3600
      responses:
        "200": { description: OK, content: { application/json: { schema: { $ref: "#/components/schemas/ChangelogList" } } } }
        "429": { $ref: "#/components/responses/TooManyRequests" }
        "500": { $ref: "#/components/responses/ServerError" }

  /macro:
    get:
      operationId: getMacro
      x-hlens-mcp: getMacro
      tags: [macro]
      summary: Fear & Greed, stablecoin supply, ETF flows, dominance
      x-hlens-cache: 3600
      responses:
        "200": { description: OK, content: { application/json: { schema: { $ref: "#/components/schemas/Macro" } } } }
        "429": { $ref: "#/components/responses/TooManyRequests" }
        "500": { $ref: "#/components/responses/ServerError" }
  /options/{currency}/summary:
    get:
      operationId: getOptionsSummary
      tags: [macro]
      summary: Deribit options summary (v1.1 — returns 501 until implemented)
      x-hlens-stage: v1.1
      x-hlens-cache: 300
      parameters: [ { $ref: "#/components/parameters/Currency" } ]
      responses:
        "200": { description: OK, content: { application/json: { schema: { $ref: "#/components/schemas/OptionsSummary" } } } }
        "429": { $ref: "#/components/responses/TooManyRequests" }
        "501": { description: Not implemented in this stage, content: { application/json: { schema: { $ref: "#/components/schemas/Error" } } } }
  /basis:
    get:
      operationId: listBasis
      tags: [macro]
      summary: Annualised basis term structure (v1.1 — returns 501 until implemented)
      x-hlens-stage: v1.1
      x-hlens-cache: 300
      responses:
        "200": { description: OK, content: { application/json: { schema: { $ref: "#/components/schemas/BasisList" } } } }
        "429": { $ref: "#/components/responses/TooManyRequests" }
        "501": { description: Not implemented in this stage, content: { application/json: { schema: { $ref: "#/components/schemas/Error" } } } }

  /status:
    get:
      operationId: getStatus
      x-hlens-mcp: getStatus
      tags: [system]
      summary: Source health, coverage and 30-day uptime
      x-hlens-cache: 30
      responses:
        "200": { description: OK, content: { application/json: { schema: { $ref: "#/components/schemas/Status" } } } }
        "429": { $ref: "#/components/responses/TooManyRequests" }
        "500": { $ref: "#/components/responses/ServerError" }
  /og/{template}:
    get:
      operationId: getOgImage
      tags: [system]
      summary: Share card PNG (1200x630)
      x-hlens-cache: 300
      parameters:
        - { name: template, in: path, required: true, schema: { type: string, enum: [whale, coin, market] } }
        - { $ref: "#/components/parameters/SymbolQuery" }
        - { name: event_id, in: query, schema: { type: string } }
        - { name: locale, in: query, schema: { $ref: "#/components/schemas/Locale" } }
      responses:
        "200": { description: PNG image, headers: { Cache-Control: { schema: { type: string }, description: "public, max-age=300, immutable when event_id given" } }, content: { image/png: { schema: { type: string, format: binary } } } }
        "404": { $ref: "#/components/responses/NotFound" }
        "429": { $ref: "#/components/responses/TooManyRequests" }
        "500": { $ref: "#/components/responses/ServerError" }

  /me:
    get:
      operationId: getMe
      tags: [me]
      summary: Current user
      security: [ { session: [] }, { apiKey: [] } ]
      responses:
        "200": { description: OK, content: { application/json: { schema: { $ref: "#/components/schemas/Me" } } } }
        "401": { $ref: "#/components/responses/Unauthorized" }
    put:
      operationId: updateMe
      tags: [me]
      summary: Update language, timezone, digest preference
      security: [ { session: [] }, { apiKey: [] } ]
      requestBody: { required: true, content: { application/json: { schema: { $ref: "#/components/schemas/MeUpdate" } } } }
      responses:
        "200": { description: OK, content: { application/json: { schema: { $ref: "#/components/schemas/Me" } } } }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
  /me/positions:
    get:
      operationId: listMyPositions
      tags: [me]
      summary: Synced positions
      security: [ { session: [] }, { apiKey: [] } ]
      responses:
        "200": { description: OK, content: { application/json: { schema: { $ref: "#/components/schemas/MyPositionList" } } } }
        "401": { $ref: "#/components/responses/Unauthorized" }
    post:
      operationId: createMyPosition
      tags: [me]
      summary: Create (idempotent on client_id)
      security: [ { session: [] }, { apiKey: [] } ]
      requestBody: { required: true, content: { application/json: { schema: { $ref: "#/components/schemas/MyPositionInput" } } } }
      responses:
        "201": { description: Created, content: { application/json: { schema: { $ref: "#/components/schemas/MyPosition" } } } }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
  /me/positions/{id}:
    patch:
      operationId: updateMyPosition
      tags: [me]
      summary: Update a position (last-writer-wins on updated_ts)
      security: [ { session: [] }, { apiKey: [] } ]
      parameters: [ { $ref: "#/components/parameters/IdPath" } ]
      requestBody: { required: true, content: { application/json: { schema: { $ref: "#/components/schemas/MyPositionInput" } } } }
      responses:
        "200": { description: OK, content: { application/json: { schema: { $ref: "#/components/schemas/MyPosition" } } } }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }
        "409": { description: Newer version exists; body carries it, content: { application/json: { schema: { $ref: "#/components/schemas/MyPosition" } } } }
    delete:
      operationId: deleteMyPosition
      tags: [me]
      summary: Delete a position
      security: [ { session: [] }, { apiKey: [] } ]
      parameters: [ { $ref: "#/components/parameters/IdPath" } ]
      responses:
        "204": { description: Deleted }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }
  /me/watchlist:
    get:
      operationId: getWatchlist
      tags: [me]
      summary: Watched coins and wallets
      security: [ { session: [] }, { apiKey: [] } ]
      responses:
        "200": { description: OK, content: { application/json: { schema: { $ref: "#/components/schemas/Watchlist" } } } }
        "401": { $ref: "#/components/responses/Unauthorized" }
    post:
      operationId: addWatchItem
      tags: [me]
      summary: Add a coin or wallet
      security: [ { session: [] }, { apiKey: [] } ]
      requestBody: { required: true, content: { application/json: { schema: { $ref: "#/components/schemas/WatchItem" } } } }
      responses:
        "201": { description: Added, content: { application/json: { schema: { $ref: "#/components/schemas/Watchlist" } } } }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
    delete:
      operationId: removeWatchItem
      tags: [me]
      summary: Remove a coin or wallet
      security: [ { session: [] }, { apiKey: [] } ]
      parameters:
        - { name: kind, in: query, required: true, schema: { type: string, enum: [coin, wallet] } }
        - { name: key, in: query, required: true, schema: { type: string } }
      responses:
        "204": { description: Removed }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }
  /me/alerts:
    get:
      operationId: listAlerts
      tags: [me]
      summary: Alert rules
      security: [ { session: [] }, { apiKey: [] } ]
      responses:
        "200": { description: OK, content: { application/json: { schema: { $ref: "#/components/schemas/AlertRuleList" } } } }
        "401": { $ref: "#/components/responses/Unauthorized" }
    post:
      operationId: createAlert
      x-hlens-mcp: createAlert
      tags: [me]
      summary: Create an alert rule
      security: [ { session: [] }, { apiKey: [] } ]
      requestBody: { required: true, content: { application/json: { schema: { $ref: "#/components/schemas/AlertRuleInput" } } } }
      responses:
        "201": { description: Created, content: { application/json: { schema: { $ref: "#/components/schemas/AlertRule" } } } }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "402": { description: Plan limit reached, content: { application/json: { schema: { $ref: "#/components/schemas/Error" } } } }
  /me/alerts/{id}:
    patch:
      operationId: updateAlert
      tags: [me]
      summary: Update an alert rule
      security: [ { session: [] }, { apiKey: [] } ]
      parameters: [ { $ref: "#/components/parameters/IdPath" } ]
      requestBody: { required: true, content: { application/json: { schema: { $ref: "#/components/schemas/AlertRuleInput" } } } }
      responses:
        "200": { description: OK, content: { application/json: { schema: { $ref: "#/components/schemas/AlertRule" } } } }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }
    delete:
      operationId: deleteAlert
      tags: [me]
      summary: Delete an alert rule
      security: [ { session: [] }, { apiKey: [] } ]
      parameters: [ { $ref: "#/components/parameters/IdPath" } ]
      responses:
        "204": { description: Deleted }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }
  /me/alerts:pause-all:
    post:
      operationId: pauseAllAlerts
      tags: [me]
      summary: Pause or resume all rules
      security: [ { session: [] }, { apiKey: [] } ]
      requestBody: { required: true, content: { application/json: { schema: { type: object, required: [paused], properties: { paused: { type: boolean } } } } } }
      responses:
        "200": { description: OK, content: { application/json: { schema: { $ref: "#/components/schemas/AlertRuleList" } } } }
        "401": { $ref: "#/components/responses/Unauthorized" }
  /me/alerts/deliveries:
    get:
      operationId: listAlertDeliveries
      tags: [me]
      summary: Delivery log
      security: [ { session: [] }, { apiKey: [] } ]
      parameters: [ { $ref: "#/components/parameters/Limit" }, { $ref: "#/components/parameters/Cursor" } ]
      responses:
        "200": { description: OK, content: { application/json: { schema: { $ref: "#/components/schemas/AlertDeliveryList" } } } }
        "401": { $ref: "#/components/responses/Unauthorized" }
  /me/digest:
    post:
      operationId: subscribeDigest
      tags: [me]
      summary: Subscribe / unsubscribe the daily digest
      security: [ { session: [] }, { apiKey: [] } ]
      requestBody: { required: true, content: { application/json: { schema: { type: object, required: [enabled, channel], properties: { enabled: { type: boolean }, channel: { $ref: "#/components/schemas/Channel" } } } } } }
      responses:
        "200": { description: OK, content: { application/json: { schema: { $ref: "#/components/schemas/Me" } } } }
        "401": { $ref: "#/components/responses/Unauthorized" }
  /me/push-subscriptions:
    get:
      operationId: listPushSubscriptions
      tags: [me]
      summary: Web Push subscriptions
      security: [ { session: [] } ]
      responses:
        "200": { description: OK, content: { application/json: { schema: { $ref: "#/components/schemas/PushSubscriptionList" } } } }
        "401": { $ref: "#/components/responses/Unauthorized" }
    post:
      operationId: createPushSubscription
      tags: [me]
      summary: Register a Web Push subscription (iOS requires an installed PWA)
      security: [ { session: [] } ]
      requestBody: { required: true, content: { application/json: { schema: { $ref: "#/components/schemas/PushSubscriptionInput" } } } }
      responses:
        "201": { description: Created, content: { application/json: { schema: { $ref: "#/components/schemas/PushSubscription" } } } }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
  /me/push-subscriptions/{id}:
    delete:
      operationId: deletePushSubscription
      tags: [me]
      summary: Remove a Web Push subscription
      security: [ { session: [] } ]
      parameters: [ { $ref: "#/components/parameters/IdPath" } ]
      responses:
        "204": { description: Deleted }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }
  /me/api-keys:
    get:
      operationId: listApiKeys
      tags: [me]
      summary: API keys (prefix only)
      security: [ { session: [] } ]
      responses:
        "200": { description: OK, content: { application/json: { schema: { $ref: "#/components/schemas/ApiKeyList" } } } }
        "401": { $ref: "#/components/responses/Unauthorized" }
    post:
      operationId: createApiKey
      tags: [me]
      summary: Create an API key (session only; secret shown once)
      security: [ { session: [] } ]
      requestBody: { required: false, content: { application/json: { schema: { type: object, properties: { label: { type: string, maxLength: 64 } } } } } }
      responses:
        "201": { description: Created, content: { application/json: { schema: { $ref: "#/components/schemas/ApiKeyCreated" } } } }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "402": { description: Plan limit reached, content: { application/json: { schema: { $ref: "#/components/schemas/Error" } } } }
  /me/api-keys/{id}:
    delete:
      operationId: deleteApiKey
      tags: [me]
      summary: Revoke an API key
      security: [ { session: [] } ]
      parameters: [ { $ref: "#/components/parameters/IdPath" } ]
      responses:
        "204": { description: Revoked }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }

components:
  securitySchemes:
    session: { type: http, scheme: bearer, description: Session token from magic-link / OAuth login }
    apiKey: { type: apiKey, in: header, name: X-API-Key }

  headers:
    ETag: { description: Entity tag for conditional requests, schema: { type: string } }
    X-RateLimit-Limit: { description: Requests allowed per minute, schema: { type: integer } }
    X-RateLimit-Remaining: { description: Requests remaining in the window, schema: { type: integer } }
    X-RateLimit-Reset: { description: Unix seconds when the window resets, schema: { type: integer } }

  parameters:
    SymbolPath: { name: symbol, in: path, required: true, schema: { $ref: "#/components/schemas/Symbol" } }
    SymbolQuery: { name: symbol, in: query, schema: { $ref: "#/components/schemas/Symbol" } }
    AddressPath: { name: address, in: path, required: true, schema: { $ref: "#/components/schemas/Address" } }
    IdPath: { name: id, in: path, required: true, schema: { type: string, pattern: "^[A-Za-z0-9_-]{1,64}$" } }
    Currency: { name: currency, in: path, required: true, schema: { $ref: "#/components/schemas/Currency" } }
    From: { name: from, in: query, schema: { $ref: "#/components/schemas/Ts" } }
    To: { name: to, in: query, schema: { $ref: "#/components/schemas/Ts" } }
    Limit: { name: limit, in: query, schema: { type: integer, minimum: 1, maximum: 500, default: 100 } }
    Cursor: { name: cursor, in: query, schema: { type: string, maxLength: 512 } }

  responses:
    BadRequest: { description: Invalid parameters, content: { application/json: { schema: { $ref: "#/components/schemas/Error" } } } }
    Unauthorized: { description: Missing or invalid credentials, content: { application/json: { schema: { $ref: "#/components/schemas/Error" } } } }
    NotFound: { description: Not found, content: { application/json: { schema: { $ref: "#/components/schemas/Error" } } } }
    TooManyRequests: { description: Rate limited; honour Retry-After, headers: { Retry-After: { schema: { type: integer } } }, content: { application/json: { schema: { $ref: "#/components/schemas/Error" } } } }
    ServerError: { description: Server error, content: { application/json: { schema: { $ref: "#/components/schemas/Error" } } } }

  schemas:
    # ---------- primitives
    Ts: { type: integer, description: unix milliseconds, minimum: 0, examples: [1789139919832] }
    Symbol: { type: string, pattern: "^[A-Z0-9]{1,15}$", examples: [BTC] }
    Address: { type: string, pattern: "^0x[0-9a-fA-F]{40}$" }
    Currency: { type: string, enum: [BTC, ETH] }
    Locale: { type: string, enum: [en, zh], default: en }
    Venue: { type: string, enum: [binance, bybit, okx, gate, bitget, hyperliquid, deribit] }
    Side: { type: string, enum: [long, short] }
    Channel: { type: string, enum: [telegram, email, push] }
    Preset: { type: string, enum: [short_concentration_high, long_concentration_high, retail_vs_whale, oi_surge, negative_funding, whale_flip, pullback_shallow, squeeze] }
    HistoryField: { type: string, enum: [price, crowding, funding_8h, oi_total_usd, oi_usd, retail_long_share, top_trader_long_share, taker_buy_share, whale_long_share, whale_net_usd, liq_long_usd, liq_short_usd] }
    EvidenceTag: { type: string, enum: [verified, self_validated, heuristic, opinion, insufficient, model_estimated] }
    SourceState: { type: string, enum: [ok, stale, error] }
    SourceStatus: { type: object, additionalProperties: { $ref: "#/components/schemas/SourceState" } }
    NullableNumber: { type: [number, "null"] }

    Error:
      type: object
      required: [code, message, request_id]
      properties:
        code: { type: string }
        message: { type: string }
        details: { type: object, additionalProperties: true }
        request_id: { type: string }

    # ---------- sentences
    SentenceVar:
      type: object
      required: [v, type]
      properties:
        v: { type: [number, string, "null"] }
        type: { type: string, enum: [pct, usd, ratio, bps, ts, atr, count, text, pctl] }
        prec: { type: integer, minimum: 0, maximum: 6 }
    Sentence:
      type: object
      required: [template_id, vars, tags, zh, en]
      properties:
        template_id: { type: string, examples: [S.UP_PULLBACK_SHALLOW] }
        vars: { type: object, additionalProperties: { $ref: "#/components/schemas/SentenceVar" } }
        tags: { type: array, items: { $ref: "#/components/schemas/EvidenceTag" } }
        zh: { type: string, description: server-rendered fallback }
        en: { type: string, description: server-rendered fallback }
        contradiction: { oneOf: [ { $ref: "#/components/schemas/SentenceLite" }, { type: "null" } ] }
    SentenceLite:
      type: object
      required: [template_id, vars, zh, en]
      properties:
        template_id: { type: string }
        vars: { type: object, additionalProperties: { $ref: "#/components/schemas/SentenceVar" } }
        zh: { type: string }
        en: { type: string }
    Explanation:
      type: object
      required: [symbol, as_of, sentences, inputs]
      properties:
        symbol: { $ref: "#/components/schemas/Symbol" }
        as_of: { $ref: "#/components/schemas/Ts" }
        sentences: { type: array, items: { $ref: "#/components/schemas/Sentence" } }
        inputs: { type: object, additionalProperties: true, description: the numbers the sentences were built from }

    # ---------- state
    StateGroup: { type: string, enum: [up, down, range, squeeze, transition] }
    StateId:
      type: string
      description: 16 states; group membership is defined in config/state_rules.v{n}.yaml
      enum: [up_impulse, up_pullback_shallow, up_pullback_leveraged, up_overheated, up_exhaustion,
             down_impulse, down_bounce_shallow, down_bounce_leveraged, down_capitulation, down_exhaustion,
             range_top, range_mid, range_bottom, squeeze, breakout_pending, false_breakout]
    RuleHit:
      type: object
      required: [rule, hit]
      properties:
        rule: { type: string }
        value: { $ref: "#/components/schemas/NullableNumber" }
        threshold: { type: string }
        hit: { type: boolean }
    StateStats:
      type: object
      description: Scorecard line shown next to every state chip; null fields when insufficient
      required: [n, tag]
      properties:
        n: { type: integer }
        median_ret_24h: { $ref: "#/components/schemas/NullableNumber" }
        p_break_low: { $ref: "#/components/schemas/NullableNumber" }
        tag: { $ref: "#/components/schemas/EvidenceTag" }
    TimeframeState:
      type: object
      required: [tf, state, group, since_ts, display_tier, stats]
      properties:
        tf: { type: string, enum: [1h, 4h, 1d] }
        state: { $ref: "#/components/schemas/StateId" }
        group: { $ref: "#/components/schemas/StateGroup" }
        since_ts: { $ref: "#/components/schemas/Ts" }
        confirmed: { type: boolean, description: held for at least 2 bars }
        display_tier: { type: string, enum: [provisional, validated], description: provisional states use neutral names in the UI }
        rules: { type: array, items: { $ref: "#/components/schemas/RuleHit" } }
        stats: { $ref: "#/components/schemas/StateStats" }
    MarketState:
      type: object
      required: [rules_version, timeframes]
      properties:
        rules_version: { type: string, examples: [v1] }
        timeframes: { type: array, items: { $ref: "#/components/schemas/TimeframeState" } }
        combined: { oneOf: [ { $ref: "#/components/schemas/Sentence" }, { type: "null" } ] }

    # ---------- prism
    VenueRow:
      type: object
      required: [venue, ok]
      properties:
        venue: { $ref: "#/components/schemas/Venue" }
        ok: { type: boolean }
        as_of: { oneOf: [ { $ref: "#/components/schemas/Ts" }, { type: "null" } ] }
        price: { $ref: "#/components/schemas/NullableNumber" }
        funding: { $ref: "#/components/schemas/NullableNumber" }
        funding_interval_h: { type: [integer, "null"] }
        funding_8h: { $ref: "#/components/schemas/NullableNumber" }
        funding_apr_pct: { $ref: "#/components/schemas/NullableNumber" }
        funding_predicted: { $ref: "#/components/schemas/NullableNumber" }
        next_funding_ts: { oneOf: [ { $ref: "#/components/schemas/Ts" }, { type: "null" } ] }
        oi_usd: { $ref: "#/components/schemas/NullableNumber" }
        vol24h_usd: { $ref: "#/components/schemas/NullableNumber" }
        retail_long_share: { $ref: "#/components/schemas/NullableNumber" }
        top_trader_long_share: { $ref: "#/components/schemas/NullableNumber" }
        taker_buy_share: { $ref: "#/components/schemas/NullableNumber" }
        premium: { $ref: "#/components/schemas/NullableNumber" }
    Facet:
      type: object
      description: One spectrum row — value, its 30-day percentile and sample size when applicable
      required: [value, n]
      properties:
        value: { $ref: "#/components/schemas/NullableNumber" }
        pctl_30d: { $ref: "#/components/schemas/NullableNumber" }
        n: { type: integer, description: contributing venues or wallets; UI greys the row when n < 10 for whales }
        as_of: { oneOf: [ { $ref: "#/components/schemas/Ts" }, { type: "null" } ] }
        tag: { $ref: "#/components/schemas/EvidenceTag" }
    Facets:
      type: object
      required: [retail_long_share, top_trader_long_share, taker_buy_share, whale_long_share, funding_8h, oi_total_usd]
      properties:
        retail_long_share: { $ref: "#/components/schemas/Facet" }
        top_trader_long_share: { $ref: "#/components/schemas/Facet" }
        taker_buy_share: { $ref: "#/components/schemas/Facet" }
        whale_long_share: { $ref: "#/components/schemas/Facet" }
        funding_8h: { $ref: "#/components/schemas/Facet" }
        funding_apr_pct: { $ref: "#/components/schemas/Facet" }
        oi_total_usd: { $ref: "#/components/schemas/Facet" }
        liq_24h_long_usd: { $ref: "#/components/schemas/Facet" }
        liq_24h_short_usd: { $ref: "#/components/schemas/Facet" }
        whale_long_usd: { $ref: "#/components/schemas/NullableNumber" }
        whale_short_usd: { $ref: "#/components/schemas/NullableNumber" }
        gap_pts: { $ref: "#/components/schemas/NullableNumber", description: "|retail − whale| × 100, null when whale n < 10" }
    Prism:
      type: object
      required: [symbol, as_of, sources, price, chg24h_pct, facets, crowding, venues, sentence]
      properties:
        symbol: { $ref: "#/components/schemas/Symbol" }
        as_of: { $ref: "#/components/schemas/Ts" }
        sources: { $ref: "#/components/schemas/SourceStatus" }
        price: { $ref: "#/components/schemas/NullableNumber" }
        chg24h_pct: { $ref: "#/components/schemas/NullableNumber" }
        vol24h_total_usd: { $ref: "#/components/schemas/NullableNumber" }
        facets: { $ref: "#/components/schemas/Facets" }
        crowding: { type: [number, "null"], minimum: -1, maximum: 1 }
        crowding_pctl_30d: { $ref: "#/components/schemas/NullableNumber" }
        state: { oneOf: [ { $ref: "#/components/schemas/MarketState" }, { type: "null" } ] }
        venues: { type: array, items: { $ref: "#/components/schemas/VenueRow" } }
        sentence: { $ref: "#/components/schemas/Sentence" }
    PrismPatch:
      type: object
      description: JSON Merge Patch of Prism pushed over WS
      additionalProperties: true

    CoinSummary:
      type: object
      required: [symbol, as_of, whale_n]
      properties:
        symbol: { $ref: "#/components/schemas/Symbol" }
        as_of: { $ref: "#/components/schemas/Ts" }
        price: { $ref: "#/components/schemas/NullableNumber" }
        chg24h_pct: { $ref: "#/components/schemas/NullableNumber" }
        oi_total_usd: { $ref: "#/components/schemas/NullableNumber" }
        oi_chg24h_pct: { $ref: "#/components/schemas/NullableNumber" }
        oi_pctl_30d: { $ref: "#/components/schemas/NullableNumber" }
        funding_8h: { $ref: "#/components/schemas/NullableNumber" }
        funding_apr_pct: { $ref: "#/components/schemas/NullableNumber" }
        funding_spread: { $ref: "#/components/schemas/NullableNumber" }
        retail_long_share: { $ref: "#/components/schemas/NullableNumber" }
        top_trader_long_share: { $ref: "#/components/schemas/NullableNumber" }
        taker_buy_share: { $ref: "#/components/schemas/NullableNumber" }
        whale_long_share: { $ref: "#/components/schemas/NullableNumber" }
        whale_n: { type: integer }
        gap_pts: { $ref: "#/components/schemas/NullableNumber" }
        crowding: { $ref: "#/components/schemas/NullableNumber" }
        crowding_pctl_30d: { $ref: "#/components/schemas/NullableNumber" }
        liq_24h_long_usd: { $ref: "#/components/schemas/NullableNumber" }
        liq_24h_short_usd: { $ref: "#/components/schemas/NullableNumber" }
        vol24h_usd: { $ref: "#/components/schemas/NullableNumber" }
        state_1h: { oneOf: [ { $ref: "#/components/schemas/StateId" }, { type: "null" } ] }
        state_4h: { oneOf: [ { $ref: "#/components/schemas/StateId" }, { type: "null" } ] }
        state_1d: { oneOf: [ { $ref: "#/components/schemas/StateId" }, { type: "null" } ] }
        state_group_1h: { oneOf: [ { $ref: "#/components/schemas/StateGroup" }, { type: "null" } ] }
        state_group_4h: { oneOf: [ { $ref: "#/components/schemas/StateGroup" }, { type: "null" } ] }
        state_group_1d: { oneOf: [ { $ref: "#/components/schemas/StateGroup" }, { type: "null" } ] }
        state_since_ts: { oneOf: [ { $ref: "#/components/schemas/Ts" }, { type: "null" } ] }
        why: { oneOf: [ { $ref: "#/components/schemas/Sentence" }, { type: "null" } ], description: present when preset is used }
    CoinList:
      type: object
      required: [as_of, sources, items]
      properties:
        as_of: { $ref: "#/components/schemas/Ts" }
        sources: { $ref: "#/components/schemas/SourceStatus" }
        coverage: { type: integer, description: number of coins covered; UI shows it honestly }
        items: { type: array, items: { $ref: "#/components/schemas/CoinSummary" } }
        next_cursor: { type: [string, "null"] }

    # ---------- context
    KeyLevel:
      type: object
      required: [kind, price, dist_pct]
      properties:
        kind: { type: string, enum: [prev_high, prev_low, prev_close, week_open, month_open, day_open, vwap, vwap_up, vwap_dn, avwap, poc, hvn, lvn, round, range_mid] }
        price: { type: number }
        dist_pct: { type: number }
        overlaps_liq_cluster: { type: boolean }
    Session:
      type: object
      required: [name]
      properties:
        name: { type: string, enum: [asia, europe, us] }
        ret_pct: { $ref: "#/components/schemas/NullableNumber" }
    OIQuadrant: { type: string, enum: [price_up_oi_up, price_up_oi_down, price_down_oi_up, price_down_oi_down] }
    EmaSet:
      type: object
      required: [tf]
      properties:
        tf: { type: string, enum: [1h, 4h, 1d] }
        ema20: { $ref: "#/components/schemas/NullableNumber" }
        ema50: { $ref: "#/components/schemas/NullableNumber" }
        ema200: { $ref: "#/components/schemas/NullableNumber" }
        above20: { type: [boolean, "null"] }
        above50: { type: [boolean, "null"] }
        above200: { type: [boolean, "null"] }
    RangeBox:
      type: object
      required: [low, high, pos_pct]
      properties: { low: { type: number }, high: { type: number }, pos_pct: { type: number } }
    VolRegime:
      type: object
      required: [atr14, atr_pctl_90d, regime, realized_24h_pct]
      properties:
        atr14: { type: number }
        atr_pctl_90d: { type: number }
        regime: { type: string, enum: [low, normal, high, extreme] }
        implied_daily_pct: { $ref: "#/components/schemas/NullableNumber" }
        realized_24h_pct: { type: number }
    Move15m:
      type: object
      required: [ts, pct]
      properties:
        ts: { $ref: "#/components/schemas/Ts" }
        pct: { type: number }
        liq_usd: { $ref: "#/components/schemas/NullableNumber" }
    Last24h:
      type: object
      required: [high, low, range_pct, pos_pct, oi_quadrant]
      properties:
        high: { type: number }
        low: { type: number }
        range_pct: { type: number }
        pos_pct: { type: number }
        vol_ratio_30d: { $ref: "#/components/schemas/NullableNumber" }
        max_15m_move: { oneOf: [ { $ref: "#/components/schemas/Move15m" }, { type: "null" } ] }
        sessions: { type: array, items: { $ref: "#/components/schemas/Session" } }
        oi_chg_pct: { $ref: "#/components/schemas/NullableNumber" }
        oi_quadrant: { oneOf: [ { $ref: "#/components/schemas/OIQuadrant" }, { type: "null" } ] }
        funding_chg: { $ref: "#/components/schemas/NullableNumber" }
        liq_long_usd: { $ref: "#/components/schemas/NullableNumber" }
        liq_short_usd: { $ref: "#/components/schemas/NullableNumber" }
        whale_net_open_usd: { $ref: "#/components/schemas/NullableNumber" }
    Breakout:
      type: object
      required: [level, ts, verdict]
      properties:
        level: { $ref: "#/components/schemas/KeyLevel" }
        ts: { $ref: "#/components/schemas/Ts" }
        oi_chg_pct: { $ref: "#/components/schemas/NullableNumber" }
        cvd_dir: { type: [string, "null"] }
        vol_ratio: { $ref: "#/components/schemas/NullableNumber" }
        verdict: { type: string, enum: [aligned, mixed] }
    Drivers:
      type: object
      required: [led_by]
      properties:
        led_by: { type: string, enum: [spot, perp, mixed, unknown] }
        premium_24h: { oneOf: [ { $ref: "#/components/schemas/Series" }, { type: "null" } ] }
        breakout: { oneOf: [ { $ref: "#/components/schemas/Breakout" }, { type: "null" } ] }
        oi_to_mcap: { $ref: "#/components/schemas/NullableNumber" }
        oi_to_mcap_pctl_30d: { $ref: "#/components/schemas/NullableNumber" }
    RiskCalc:
      type: object
      description: Inputs for a pure calculator; the UI never pre-fills or recommends
      required: [atr14, formula_id]
      properties:
        atr14: { type: number }
        formula_id: { type: string, enum: [atr_stop_v1] }
    ContextSentences:
      type: object
      required: [state, position, driver, volatility]
      properties:
        state: { $ref: "#/components/schemas/Sentence" }
        position: { $ref: "#/components/schemas/Sentence" }
        driver: { $ref: "#/components/schemas/Sentence" }
        volatility: { $ref: "#/components/schemas/Sentence" }
    Context:
      type: object
      required: [symbol, as_of, sources, sentences, state, key_levels, last24h, vol, drivers]
      properties:
        symbol: { $ref: "#/components/schemas/Symbol" }
        as_of: { $ref: "#/components/schemas/Ts" }
        sources: { $ref: "#/components/schemas/SourceStatus" }
        sentences: { $ref: "#/components/schemas/ContextSentences" }
        state: { $ref: "#/components/schemas/MarketState" }
        ema: { type: array, items: { $ref: "#/components/schemas/EmaSet" } }
        range: { oneOf: [ { $ref: "#/components/schemas/RangeBox" }, { type: "null" } ] }
        vol: { $ref: "#/components/schemas/VolRegime" }
        btc_corr_7d: { $ref: "#/components/schemas/NullableNumber" }
        btc_beta_7d: { $ref: "#/components/schemas/NullableNumber" }
        key_levels: { type: array, items: { $ref: "#/components/schemas/KeyLevel" } }
        last24h: { $ref: "#/components/schemas/Last24h" }
        drivers: { $ref: "#/components/schemas/Drivers" }
        risk_calc: { oneOf: [ { $ref: "#/components/schemas/RiskCalc" }, { type: "null" } ] }
        calendar: { type: array, items: { $ref: "#/components/schemas/CalendarItem" } }

    # ---------- levels
    LiqCluster:
      type: object
      required: [price, side, est_notional_usd, tag]
      properties:
        price: { type: number }
        side: { $ref: "#/components/schemas/Side" }
        est_notional_usd: { type: number }
        tag: { type: string, enum: [model_estimated] }
    WhaleLiqPoint:
      type: object
      required: [price, side, notional_usd, address]
      properties:
        price: { type: number }
        side: { $ref: "#/components/schemas/Side" }
        notional_usd: { type: number }
        address: { $ref: "#/components/schemas/Address" }
        name: { type: [string, "null"] }
        liq_px_reliable: { type: boolean }
    RealLiqPoint:
      type: object
      required: [price, side, notional_usd]
      properties:
        price: { type: number }
        side: { $ref: "#/components/schemas/Side" }
        notional_usd: { type: number }
        venue: { $ref: "#/components/schemas/Venue" }
    Levels:
      type: object
      required: [symbol, as_of, sources, price, range_pct, whale_liq, real_liq_24h, liq_clusters, sentence]
      properties:
        symbol: { $ref: "#/components/schemas/Symbol" }
        as_of: { $ref: "#/components/schemas/Ts" }
        sources: { $ref: "#/components/schemas/SourceStatus" }
        price: { type: number }
        range_pct: { type: number }
        lev_weights: { type: object, additionalProperties: { type: number } }
        whale_liq: { type: array, items: { $ref: "#/components/schemas/WhaleLiqPoint" } }
        real_liq_24h: { type: array, items: { $ref: "#/components/schemas/RealLiqPoint" } }
        liq_clusters: { type: array, items: { $ref: "#/components/schemas/LiqCluster" } }
        totals: { type: object, properties: { above_short_est_usd: { type: number }, below_long_est_usd: { type: number }, real_24h_long_usd: { type: number }, real_24h_short_usd: { type: number } } }
        sentence: { $ref: "#/components/schemas/Sentence" }

    # ---------- series
    Series:
      type: object
      required: [fields, points]
      properties:
        fields: { type: array, items: { type: string } }
        points:
          type: array
          description: "each point is [ts, f1, f2, ...] aligned with fields"
          items:
            type: array
            prefixItems: [ { $ref: "#/components/schemas/Ts" } ]
            items: { $ref: "#/components/schemas/NullableNumber" }
    StateHistoryPoint:
      type: array
      prefixItems:
        - { $ref: "#/components/schemas/Ts" }
        - { oneOf: [ { $ref: "#/components/schemas/StateId" }, { type: "null" } ] }
        - { oneOf: [ { $ref: "#/components/schemas/StateId" }, { type: "null" } ] }
        - { oneOf: [ { $ref: "#/components/schemas/StateId" }, { type: "null" } ] }
        - { $ref: "#/components/schemas/NullableNumber" }
      items: false
    StateHistory:
      type: object
      required: [symbol, rules_version, hours]
      properties:
        symbol: { $ref: "#/components/schemas/Symbol" }
        rules_version: { type: string }
        hours: { type: array, items: { $ref: "#/components/schemas/StateHistoryPoint" } }
    Snapshot:
      type: object
      required: [at, prism]
      properties:
        at: { $ref: "#/components/schemas/Ts" }
        prism: { $ref: "#/components/schemas/Prism" }
        around: { oneOf: [ { $ref: "#/components/schemas/Series" }, { type: "null" } ] }
        events: { type: array, items: { $ref: "#/components/schemas/Event" } }
        replay_sentence: { oneOf: [ { $ref: "#/components/schemas/Sentence" }, { type: "null" } ] }
    Breadth:
      type: object
      required: [as_of, n, up_24h_share, above_ema20_share, oi_up_share, sentence]
      properties:
        as_of: { $ref: "#/components/schemas/Ts" }
        n: { type: integer }
        up_24h_share: { type: number }
        above_ema20_share: { type: number }
        oi_up_share: { type: number }
        alt_vs_btc_24h_pct: { $ref: "#/components/schemas/NullableNumber" }
        sessions_7d: { type: array, items: { type: object, required: [date], properties: { date: { type: string, format: date }, asia: { $ref: "#/components/schemas/NullableNumber" }, europe: { $ref: "#/components/schemas/NullableNumber" }, us: { $ref: "#/components/schemas/NullableNumber" } } } }
        sentence: { $ref: "#/components/schemas/Sentence" }
    AbnormalCoin:
      type: object
      required: [symbol, reason, sentence]
      properties:
        symbol: { $ref: "#/components/schemas/Symbol" }
        reason: { type: string, enum: [gap, funding, whale_flip, crowding, cascade, oi_surge] }
        sentence: { $ref: "#/components/schemas/Sentence" }
    InsightCard:
      type: object
      required: [id, items, link]
      properties:
        id: { type: string, enum: [late, danger, whales] }
        items: { type: array, items: { type: object, additionalProperties: true } }
        link: { type: string }
    Insights:
      type: object
      required: [as_of, sources, abnormal, sentence, cards]
      properties:
        as_of: { $ref: "#/components/schemas/Ts" }
        sources: { $ref: "#/components/schemas/SourceStatus" }
        abnormal: { type: array, maxItems: 3, items: { $ref: "#/components/schemas/AbnormalCoin" } }
        sentence: { $ref: "#/components/schemas/Sentence" }
        cards: { type: array, items: { $ref: "#/components/schemas/InsightCard" } }

    # ---------- funding
    VenueFunding:
      type: object
      required: [venue]
      properties:
        venue: { $ref: "#/components/schemas/Venue" }
        funding: { $ref: "#/components/schemas/NullableNumber" }
        funding_interval_h: { type: [integer, "null"] }
        funding_8h: { $ref: "#/components/schemas/NullableNumber" }
        funding_apr_pct: { $ref: "#/components/schemas/NullableNumber" }
        funding_predicted: { $ref: "#/components/schemas/NullableNumber" }
        next_funding_ts: { oneOf: [ { $ref: "#/components/schemas/Ts" }, { type: "null" } ] }
    FundingRow:
      type: object
      required: [symbol, venues]
      properties:
        symbol: { $ref: "#/components/schemas/Symbol" }
        venues: { type: array, items: { $ref: "#/components/schemas/VenueFunding" } }
        funding_8h_weighted: { $ref: "#/components/schemas/NullableNumber" }
        funding_apr_pct: { $ref: "#/components/schemas/NullableNumber" }
        funding_apr_pct_abs: { $ref: "#/components/schemas/NullableNumber" }
        funding_spread: { $ref: "#/components/schemas/NullableNumber" }
        oi_total_usd: { $ref: "#/components/schemas/NullableNumber" }
    FundingList:
      type: object
      required: [as_of, sources, items]
      properties:
        as_of: { $ref: "#/components/schemas/Ts" }
        sources: { $ref: "#/components/schemas/SourceStatus" }
        items: { type: array, items: { $ref: "#/components/schemas/FundingRow" } }
        next_cursor: { type: [string, "null"] }
    FundingHistory:
      type: object
      required: [symbol, as_of, series]
      properties:
        symbol: { $ref: "#/components/schemas/Symbol" }
        as_of: { $ref: "#/components/schemas/Ts" }
        series: { $ref: "#/components/schemas/Series" }
        cum_long_30d: { $ref: "#/components/schemas/NullableNumber" }
        cum_short_30d: { $ref: "#/components/schemas/NullableNumber" }
    ArbRow:
      type: object
      required: [symbol, long_venue, short_venue, spread_8h, gross_apr_pct, net_apr_pct, tags]
      properties:
        symbol: { $ref: "#/components/schemas/Symbol" }
        long_venue: { $ref: "#/components/schemas/Venue" }
        short_venue: { $ref: "#/components/schemas/Venue" }
        spread_8h: { type: number }
        gross_apr_pct: { type: number }
        net_apr_pct: { type: number }
        tags: { type: array, items: { $ref: "#/components/schemas/EvidenceTag" } }
    ArbList:
      type: object
      required: [as_of, sources, items]
      properties:
        as_of: { $ref: "#/components/schemas/Ts" }
        sources: { $ref: "#/components/schemas/SourceStatus" }
        items: { type: array, items: { $ref: "#/components/schemas/ArbRow" } }
    LsRatio:
      type: object
      required: [venue, kind, long_share, ts]
      properties:
        venue: { $ref: "#/components/schemas/Venue" }
        kind: { type: string, enum: [account, top_account, top_position, taker] }
        long_share: { type: number }
        ts: { $ref: "#/components/schemas/Ts" }
    LsRatioList:
      type: object
      required: [as_of, sources, items]
      properties:
        as_of: { $ref: "#/components/schemas/Ts" }
        sources: { $ref: "#/components/schemas/SourceStatus" }
        items: { type: array, items: { $ref: "#/components/schemas/LsRatio" } }

    # ---------- liquidations
    Liquidation:
      type: object
      required: [ts, venue, symbol, side, price, notional_usd]
      properties:
        ts: { $ref: "#/components/schemas/Ts" }
        venue: { $ref: "#/components/schemas/Venue" }
        symbol: { $ref: "#/components/schemas/Symbol" }
        side: { $ref: "#/components/schemas/Side" }
        price: { type: number }
        size: { type: number }
        notional_usd: { type: number }
        cascade_id: { type: [string, "null"] }
        throttled_source: { type: boolean, description: true when the venue feed is rate-limited (lower bound) }
    LiquidationList:
      type: object
      required: [as_of, sources, items]
      properties:
        as_of: { $ref: "#/components/schemas/Ts" }
        sources: { $ref: "#/components/schemas/SourceStatus" }
        items: { type: array, items: { $ref: "#/components/schemas/Liquidation" } }
        next_cursor: { type: [string, "null"] }
    LiqBatch:
      type: object
      description: WS payload — liquidations aggregated over 250ms
      required: [ts, items]
      properties:
        ts: { $ref: "#/components/schemas/Ts" }
        items: { type: array, items: { $ref: "#/components/schemas/Liquidation" } }
    LiqAggRow:
      type: object
      required: [key, long_usd, short_usd, count]
      properties:
        key: { type: string }
        long_usd: { type: number }
        short_usd: { type: number }
        count: { type: integer }
    LiqAggList:
      type: object
      required: [as_of, sources, window, group_by, items]
      properties:
        as_of: { $ref: "#/components/schemas/Ts" }
        sources: { $ref: "#/components/schemas/SourceStatus" }
        window: { type: string }
        group_by: { type: string }
        items: { type: array, items: { $ref: "#/components/schemas/LiqAggRow" } }
    Heatmap:
      type: object
      required: [symbol, as_of, tag, times, prices, grid, price_now]
      properties:
        symbol: { $ref: "#/components/schemas/Symbol" }
        as_of: { $ref: "#/components/schemas/Ts" }
        tag: { type: string, enum: [model_estimated] }
        lev_weights: { type: object, additionalProperties: { type: number } }
        times: { type: array, items: { $ref: "#/components/schemas/Ts" } }
        prices: { type: array, items: { type: number } }
        grid: { type: array, items: { type: array, items: { type: number } } }
        price_now: { type: number }
    Cascade:
      type: object
      required: [id, symbol, side, start_ts, end_ts, notional_usd, price_move_pct]
      properties:
        id: { type: string }
        symbol: { $ref: "#/components/schemas/Symbol" }
        side: { $ref: "#/components/schemas/Side" }
        start_ts: { $ref: "#/components/schemas/Ts" }
        end_ts: { $ref: "#/components/schemas/Ts" }
        notional_usd: { type: number }
        price_move_pct: { type: number }
        pctl_30d: { $ref: "#/components/schemas/NullableNumber" }
    CascadeList:
      type: object
      required: [as_of, sources, items]
      properties:
        as_of: { $ref: "#/components/schemas/Ts" }
        sources: { $ref: "#/components/schemas/SourceStatus" }
        items: { type: array, items: { $ref: "#/components/schemas/Cascade" } }
        next_cursor: { type: [string, "null"] }

    # ---------- whales
    WhaleSource: { type: string, enum: [hyperliquid, okx] }
    WhalePosition:
      type: object
      required: [address, source, symbol, side, size, notional_usd]
      properties:
        address: { $ref: "#/components/schemas/Address" }
        name: { type: [string, "null"] }
        source: { $ref: "#/components/schemas/WhaleSource" }
        symbol: { $ref: "#/components/schemas/Symbol" }
        side: { $ref: "#/components/schemas/Side" }
        size: { type: number }
        notional_usd: { type: number }
        entry: { $ref: "#/components/schemas/NullableNumber" }
        mark: { $ref: "#/components/schemas/NullableNumber" }
        liq: { $ref: "#/components/schemas/NullableNumber" }
        liq_px_reliable: { type: boolean }
        liq_distance_pct: { $ref: "#/components/schemas/NullableNumber" }
        lev: { $ref: "#/components/schemas/NullableNumber" }
        lev_type: { type: [string, "null"], enum: [cross, isolated, null] }
        upnl_usd: { $ref: "#/components/schemas/NullableNumber" }
        roe: { $ref: "#/components/schemas/NullableNumber" }
        account_value_usd: { $ref: "#/components/schemas/NullableNumber" }
        opened_ts: { oneOf: [ { $ref: "#/components/schemas/Ts" }, { type: "null" } ] }
    WhalePositionList:
      type: object
      required: [as_of, sources, items]
      properties:
        as_of: { $ref: "#/components/schemas/Ts" }
        sources: { $ref: "#/components/schemas/SourceStatus" }
        items: { type: array, items: { $ref: "#/components/schemas/WhalePosition" } }
        next_cursor: { type: [string, "null"] }
    Wallet:
      type: object
      required: [address, source, account_value_usd, n_pos, long_notional_usd, short_notional_usd, hit_rate_n]
      properties:
        address: { $ref: "#/components/schemas/Address" }
        name: { type: [string, "null"] }
        labels: { type: array, items: { type: string } }
        source: { $ref: "#/components/schemas/WhaleSource" }
        account_value_usd: { type: number }
        n_pos: { type: integer }
        long_notional_usd: { type: number }
        short_notional_usd: { type: number }
        pnl_1d_usd: { $ref: "#/components/schemas/NullableNumber" }
        pnl_7d_usd: { $ref: "#/components/schemas/NullableNumber" }
        pnl_30d_usd: { $ref: "#/components/schemas/NullableNumber" }
        roi_30d: { $ref: "#/components/schemas/NullableNumber" }
        mdd_30d: { $ref: "#/components/schemas/NullableNumber" }
        hit_rate_24h: { $ref: "#/components/schemas/NullableNumber", description: site-computed; null when hit_rate_n < 30 }
        hit_rate_n: { type: integer }
        hit_rate_tag: { $ref: "#/components/schemas/EvidenceTag" }
        style_tags: { type: array, items: { type: string } }
        followers: { type: integer }
    WalletList:
      type: object
      required: [as_of, sources, items]
      properties:
        as_of: { $ref: "#/components/schemas/Ts" }
        sources: { $ref: "#/components/schemas/SourceStatus" }
        items: { type: array, items: { $ref: "#/components/schemas/Wallet" } }
        next_cursor: { type: [string, "null"] }
    WalletDetail:
      allOf:
        - $ref: "#/components/schemas/Wallet"
        - type: object
          required: [as_of, positions, recent_events]
          properties:
            as_of: { $ref: "#/components/schemas/Ts" }
            positions: { type: array, items: { $ref: "#/components/schemas/WhalePosition" } }
            equity_curve: { oneOf: [ { $ref: "#/components/schemas/Series" }, { type: "null" } ] }
            recent_events: { type: array, items: { $ref: "#/components/schemas/WhaleEvent" } }
    Fill:
      type: object
      required: [id, ts, symbol, side, price, size, notional_usd, liquidation]
      properties:
        id: { type: string }
        ts: { $ref: "#/components/schemas/Ts" }
        symbol: { $ref: "#/components/schemas/Symbol" }
        side: { type: string, enum: [buy, sell] }
        dir: { type: [string, "null"], description: "e.g. Open Long / Close Short" }
        price: { type: number }
        size: { type: number }
        notional_usd: { type: number }
        closed_pnl_usd: { $ref: "#/components/schemas/NullableNumber" }
        fee_usd: { $ref: "#/components/schemas/NullableNumber" }
        liquidation: { type: boolean }
    FillList:
      type: object
      required: [as_of, items]
      properties:
        as_of: { $ref: "#/components/schemas/Ts" }
        items: { type: array, items: { $ref: "#/components/schemas/Fill" } }
        next_cursor: { type: [string, "null"] }
    WhaleEventType: { type: string, enum: [open, add, reduce, close, flip, near_liq, liquidated] }
    WhaleEvent:
      type: object
      required: [id, ts, address, source, symbol, type, side, notional_delta_usd, sentence]
      properties:
        id: { type: string }
        ts: { $ref: "#/components/schemas/Ts" }
        address: { $ref: "#/components/schemas/Address" }
        name: { type: [string, "null"] }
        source: { $ref: "#/components/schemas/WhaleSource" }
        symbol: { $ref: "#/components/schemas/Symbol" }
        type: { $ref: "#/components/schemas/WhaleEventType" }
        side: { $ref: "#/components/schemas/Side" }
        size_delta: { $ref: "#/components/schemas/NullableNumber" }
        notional_delta_usd: { type: number }
        price: { $ref: "#/components/schemas/NullableNumber" }
        account_value_usd: { $ref: "#/components/schemas/NullableNumber" }
        ret_1h: { $ref: "#/components/schemas/NullableNumber" }
        ret_4h: { $ref: "#/components/schemas/NullableNumber" }
        ret_24h: { $ref: "#/components/schemas/NullableNumber" }
        sentence: { $ref: "#/components/schemas/Sentence" }
        replay_url: { type: string }
    WhaleEventList:
      type: object
      required: [as_of, sources, items]
      properties:
        as_of: { $ref: "#/components/schemas/Ts" }
        sources: { $ref: "#/components/schemas/SourceStatus" }
        items: { type: array, items: { $ref: "#/components/schemas/WhaleEvent" } }
        next_cursor: { type: [string, "null"] }
    WhaleCoinAgg:
      type: object
      required: [symbol, long_usd, short_usd, n_long, n_short]
      properties:
        symbol: { $ref: "#/components/schemas/Symbol" }
        long_usd: { type: number }
        short_usd: { type: number }
        n_long: { type: integer }
        n_short: { type: integer }
        whale_long_share: { $ref: "#/components/schemas/NullableNumber", description: null when n_long + n_short < 10 }
        net_open_24h_usd: { $ref: "#/components/schemas/NullableNumber" }
    WhaleCoinAggList:
      type: object
      required: [as_of, sources, items]
      properties:
        as_of: { $ref: "#/components/schemas/Ts" }
        sources: { $ref: "#/components/schemas/SourceStatus" }
        items: { type: array, items: { $ref: "#/components/schemas/WhaleCoinAgg" } }
    WhaleBoards:
      type: object
      required: [as_of, sources, sentence, bets, rekt_soon, closed_loss, winners, losers]
      properties:
        as_of: { $ref: "#/components/schemas/Ts" }
        sources: { $ref: "#/components/schemas/SourceStatus" }
        sentence: { $ref: "#/components/schemas/Sentence" }
        bets: { type: array, items: { $ref: "#/components/schemas/WhalePosition" } }
        rekt_soon: { type: array, items: { $ref: "#/components/schemas/WhalePosition" } }
        closed_loss: { type: array, items: { $ref: "#/components/schemas/WhaleEvent" } }
        winners: { type: array, items: { $ref: "#/components/schemas/Wallet" } }
        losers: { type: array, items: { $ref: "#/components/schemas/Wallet" } }

    # ---------- events / scorecard / calendar / evidence
    EventType: { type: string, enum: [price, liq, cascade, funding, whale, crowd, state] }
    Event:
      type: object
      required: [id, ts, type, symbol, severity, vars, sentence, replay_url]
      properties:
        id: { type: string }
        ts: { $ref: "#/components/schemas/Ts" }
        type: { $ref: "#/components/schemas/EventType" }
        symbol: { $ref: "#/components/schemas/Symbol" }
        severity: { type: integer, minimum: 1, maximum: 3 }
        vars: { type: object, additionalProperties: { $ref: "#/components/schemas/SentenceVar" }, description: the three numbers shown with the event }
        sentence: { $ref: "#/components/schemas/Sentence" }
        replay_url: { type: string, description: "/replay?symbol={symbol}&at={ts}" }
    EventList:
      type: object
      required: [as_of, sources, since, until, summary, items]
      properties:
        as_of: { $ref: "#/components/schemas/Ts" }
        sources: { $ref: "#/components/schemas/SourceStatus" }
        since: { $ref: "#/components/schemas/Ts" }
        until: { $ref: "#/components/schemas/Ts" }
        summary: { type: array, maxItems: 3, items: { $ref: "#/components/schemas/Sentence" } }
        items: { type: array, items: { $ref: "#/components/schemas/Event" } }
        next_cursor: { type: [string, "null"] }
    ScoreRow:
      type: object
      required: [group_key, horizon, n, tag]
      properties:
        group_key: { type: string, description: "pre-registered, e.g. state:up_pullback_shallow:4h | whale:open:long:BTC | oiq:price_up_oi_down | crowd:gt0.4" }
        horizon: { type: string, enum: [1h, 4h, 24h, 72h] }
        n: { type: integer }
        n_effective: { type: [integer, "null"] }
        median_ret: { $ref: "#/components/schemas/NullableNumber" }
        p25: { $ref: "#/components/schemas/NullableNumber" }
        p75: { $ref: "#/components/schemas/NullableNumber" }
        hit_rate: { $ref: "#/components/schemas/NullableNumber" }
        wilson_low: { $ref: "#/components/schemas/NullableNumber" }
        wilson_high: { $ref: "#/components/schemas/NullableNumber" }
        q_value: { $ref: "#/components/schemas/NullableNumber", description: BH-FDR adjusted }
        tag: { $ref: "#/components/schemas/EvidenceTag" }
    Scorecard:
      type: object
      required: [window, as_of, rules_version, rows]
      properties:
        window: { type: string }
        as_of: { $ref: "#/components/schemas/Ts" }
        rules_version: { type: string }
        rows: { type: array, items: { $ref: "#/components/schemas/ScoreRow" } }
    CalendarItem:
      type: object
      required: [ts, kind, title]
      properties:
        ts: { $ref: "#/components/schemas/Ts" }
        kind: { type: string, enum: [funding, options_expiry, macro, listing, delisting] }
        title: { type: object, required: [zh, en], properties: { zh: { type: string }, en: { type: string } } }
        meta: { type: object, additionalProperties: true }
    CalendarList:
      type: object
      required: [as_of, items]
      properties:
        as_of: { $ref: "#/components/schemas/Ts" }
        items: { type: array, items: { $ref: "#/components/schemas/CalendarItem" } }
    EvidenceItem:
      type: object
      required: [id, claim, tag, source, n, period]
      properties:
        id: { type: string }
        claim: { type: object, required: [zh, en], properties: { zh: { type: string }, en: { type: string } } }
        tag: { $ref: "#/components/schemas/EvidenceTag" }
        source: { type: string, description: dataset or report path }
        n: { type: integer }
        period: { type: string }
        effect: { type: string }
        method: { type: string }
        reproduced_on_site: { type: boolean }
    EvidenceList:
      type: object
      required: [as_of, items]
      properties:
        as_of: { $ref: "#/components/schemas/Ts" }
        items: { type: array, items: { $ref: "#/components/schemas/EvidenceItem" } }
    ChangelogItem:
      type: object
      required: [ts, kind, summary]
      properties:
        ts: { $ref: "#/components/schemas/Ts" }
        kind: { type: string, enum: [rules, templates, schema, data, ui] }
        version: { type: string }
        summary: { type: object, required: [zh, en], properties: { zh: { type: string }, en: { type: string } } }
        report_url: { type: [string, "null"] }
    ChangelogList:
      type: object
      required: [items]
      properties:
        items: { type: array, items: { $ref: "#/components/schemas/ChangelogItem" } }

    # ---------- macro / options / basis
    Macro:
      type: object
      required: [as_of, sources]
      properties:
        as_of: { $ref: "#/components/schemas/Ts" }
        sources: { $ref: "#/components/schemas/SourceStatus" }
        fng: { oneOf: [ { type: object, required: [value, label, history], properties: { value: { type: integer }, label: { type: string }, history: { type: array, items: { type: integer } } } }, { type: "null" } ] }
        stablecoin_supply_usd: { $ref: "#/components/schemas/NullableNumber" }
        stablecoin_chg_7d_pct: { $ref: "#/components/schemas/NullableNumber" }
        etf_flow_btc_usd: { $ref: "#/components/schemas/NullableNumber" }
        etf_flow_eth_usd: { $ref: "#/components/schemas/NullableNumber" }
        btc_dominance_pct: { $ref: "#/components/schemas/NullableNumber" }
    OptionsSummary:
      type: object
      required: [currency, as_of]
      properties:
        currency: { $ref: "#/components/schemas/Currency" }
        as_of: { $ref: "#/components/schemas/Ts" }
        dvol: { $ref: "#/components/schemas/NullableNumber" }
        rv_30d: { $ref: "#/components/schemas/NullableNumber" }
        implied_daily_pct: { $ref: "#/components/schemas/NullableNumber" }
        pcr_oi: { $ref: "#/components/schemas/NullableNumber" }
        pcr_vol: { $ref: "#/components/schemas/NullableNumber" }
        skew_25d: { $ref: "#/components/schemas/NullableNumber" }
        term: { type: array, items: { type: object, required: [expiry], properties: { expiry: { type: string }, atm_iv: { $ref: "#/components/schemas/NullableNumber" }, max_pain: { $ref: "#/components/schemas/NullableNumber" }, oi_usd: { $ref: "#/components/schemas/NullableNumber" } } } }
    BasisRow:
      type: object
      required: [venue, symbol, expiry, annualized_pct]
      properties:
        venue: { $ref: "#/components/schemas/Venue" }
        symbol: { $ref: "#/components/schemas/Symbol" }
        expiry: { type: string }
        annualized_pct: { type: number }
        perp_funding_apr_pct: { $ref: "#/components/schemas/NullableNumber" }
    BasisList:
      type: object
      required: [as_of, sources, items]
      properties:
        as_of: { $ref: "#/components/schemas/Ts" }
        sources: { $ref: "#/components/schemas/SourceStatus" }
        items: { type: array, items: { $ref: "#/components/schemas/BasisRow" } }

    # ---------- system
    SourceHealth:
      type: object
      required: [name, status, last_ok_ts, uptime_30d]
      properties:
        name: { type: string }
        status: { $ref: "#/components/schemas/SourceState" }
        last_ok_ts: { $ref: "#/components/schemas/Ts" }
        latency_ms: { $ref: "#/components/schemas/NullableNumber" }
        uptime_30d: { type: number }
        note: { type: [string, "null"] }
    Status:
      type: object
      required: [as_of, version, coverage_coins, sources]
      properties:
        as_of: { $ref: "#/components/schemas/Ts" }
        version: { type: string }
        coverage_coins: { type: integer }
        sources: { type: array, items: { $ref: "#/components/schemas/SourceHealth" } }

    # ---------- stream
    StreamSubscribe:
      type: object
      required: [op, channels]
      properties:
        op: { type: string, enum: [subscribe, unsubscribe] }
        channels: { type: array, minItems: 1, maxItems: 50, items: { type: string, pattern: "^(prism|state|liq|whale|events):[A-Za-z0-9*]+$" } }
        min_usd: { type: number, minimum: 0, description: applies to liq channels }
    StreamMessage:
      type: object
      required: [ch, seq, ts, data]
      properties:
        ch: { type: string }
        seq: { type: integer, description: global monotonic (Redis INCR) }
        ts: { $ref: "#/components/schemas/Ts" }
        data: { oneOf: [ { $ref: "#/components/schemas/PrismPatch" }, { $ref: "#/components/schemas/MarketState" }, { $ref: "#/components/schemas/LiqBatch" }, { $ref: "#/components/schemas/WhaleEvent" }, { $ref: "#/components/schemas/Event" } ] }
    StreamError:
      type: object
      required: [op, code, message]
      properties:
        op: { type: string, enum: [error] }
        code: { type: string }
        message: { type: string }

    # ---------- me
    Me:
      type: object
      required: [id, plan, lang, tz, telegram_linked, digest]
      properties:
        id: { type: string }
        email: { type: [string, "null"] }
        plan: { type: string, enum: [free, pro, team] }
        lang: { $ref: "#/components/schemas/Locale" }
        tz: { type: string }
        telegram_linked: { type: boolean }
        digest: { type: object, required: [enabled], properties: { enabled: { type: boolean }, channel: { $ref: "#/components/schemas/Channel" } } }
        limits: { type: object, properties: { alerts: { type: integer }, api_per_min: { type: integer }, ws_subscriptions: { type: integer }, watch_wallets: { type: integer } } }
    MeUpdate:
      type: object
      properties:
        lang: { $ref: "#/components/schemas/Locale" }
        tz: { type: string }
    MyPositionInput:
      type: object
      required: [client_id, symbol, side, entry, lev, updated_ts]
      properties:
        client_id: { type: string, format: uuid }
        symbol: { $ref: "#/components/schemas/Symbol" }
        side: { $ref: "#/components/schemas/Side" }
        entry: { type: number, exclusiveMinimum: 0 }
        lev: { type: number, minimum: 1, maximum: 200 }
        venue: { oneOf: [ { $ref: "#/components/schemas/Venue" }, { type: "null" } ] }
        size_usd: { $ref: "#/components/schemas/NullableNumber" }
        stop: { $ref: "#/components/schemas/NullableNumber" }
        opened_ts: { oneOf: [ { $ref: "#/components/schemas/Ts" }, { type: "null" } ] }
        updated_ts: { $ref: "#/components/schemas/Ts" }
    MyPosition:
      allOf:
        - $ref: "#/components/schemas/MyPositionInput"
        - type: object
          required: [id, created_ts]
          properties:
            id: { type: string }
            created_ts: { $ref: "#/components/schemas/Ts" }
    MyPositionList:
      type: object
      required: [items]
      properties:
        items: { type: array, items: { $ref: "#/components/schemas/MyPosition" } }
    WatchItem:
      type: object
      required: [kind, key]
      properties:
        kind: { type: string, enum: [coin, wallet] }
        key: { type: string }
    Watchlist:
      type: object
      required: [items]
      properties:
        items: { type: array, items: { $ref: "#/components/schemas/WatchItem" } }
    AlertScope: { type: string, enum: [position, coin, wallet, market] }
    AlertMetric:
      type: string
      enum: [funding_8h, funding_spread, oi_chg_pct, liq_1h_usd, cascade, whale_event, whale_near_liq, gap_pts, crowding, price, state_change, liq_distance_pct]
    AlertRuleInput:
      type: object
      required: [scope, metric, op, channels]
      properties:
        scope: { $ref: "#/components/schemas/AlertScope" }
        target: { type: [string, "null"], description: symbol / address / position client_id }
        metric: { $ref: "#/components/schemas/AlertMetric" }
        op: { type: string, enum: [gt, lt, crosses_up, crosses_down, eq] }
        value: { $ref: "#/components/schemas/NullableNumber" }
        window: { type: [string, "null"] }
        cooldown_s: { type: integer, minimum: 60, default: 3600 }
        channels: { type: array, minItems: 1, items: { $ref: "#/components/schemas/Channel" } }
        template_id: { type: [string, "null"] }
        enabled: { type: boolean, default: true }
    AlertRule:
      allOf:
        - $ref: "#/components/schemas/AlertRuleInput"
        - type: object
          required: [id, created_ts]
          properties:
            id: { type: string }
            created_ts: { $ref: "#/components/schemas/Ts" }
            last_fired_ts: { oneOf: [ { $ref: "#/components/schemas/Ts" }, { type: "null" } ] }
            paused: { type: boolean }
    AlertRuleList:
      type: object
      required: [items, limit]
      properties:
        items: { type: array, items: { $ref: "#/components/schemas/AlertRule" } }
        limit: { type: integer }
    AlertDelivery:
      type: object
      required: [id, rule_id, ts, channel, status]
      properties:
        id: { type: string }
        rule_id: { type: string }
        ts: { $ref: "#/components/schemas/Ts" }
        channel: { $ref: "#/components/schemas/Channel" }
        status: { type: string, enum: [sent, failed, retrying] }
        preview: { type: string }
    AlertDeliveryList:
      type: object
      required: [items]
      properties:
        items: { type: array, items: { $ref: "#/components/schemas/AlertDelivery" } }
        next_cursor: { type: [string, "null"] }
    PushSubscriptionInput:
      type: object
      required: [endpoint, keys]
      properties:
        endpoint: { type: string, format: uri }
        keys: { type: object, required: [p256dh, auth], properties: { p256dh: { type: string }, auth: { type: string } } }
        ua: { type: string, maxLength: 256 }
    PushSubscription:
      allOf:
        - $ref: "#/components/schemas/PushSubscriptionInput"
        - type: object
          required: [id, created_ts]
          properties:
            id: { type: string }
            created_ts: { $ref: "#/components/schemas/Ts" }
    PushSubscriptionList:
      type: object
      required: [items]
      properties:
        items: { type: array, items: { $ref: "#/components/schemas/PushSubscription" } }
    ApiKey:
      type: object
      required: [id, prefix, created_ts, calls_30d]
      properties:
        id: { type: string }
        label: { type: [string, "null"] }
        prefix: { type: string }
        created_ts: { $ref: "#/components/schemas/Ts" }
        last_used_ts: { oneOf: [ { $ref: "#/components/schemas/Ts" }, { type: "null" } ] }
        calls_30d: { type: integer }
    ApiKeyList:
      type: object
      required: [items]
      properties:
        items: { type: array, items: { $ref: "#/components/schemas/ApiKey" } }
    ApiKeyCreated:
      allOf:
        - $ref: "#/components/schemas/ApiKey"
        - type: object
          required: [key]
          properties:
            key: { type: string, description: shown once }

    # ---------- static snapshot layer (GitHub Pages, v0.1 field names; migrates to Prism names in S1)
    SnapshotFile:
      type: object
      description: data/latest.json produced by scripts/fetch.py. Independent schema, not a Prism subset.
      required: [schema, generated_at, sources, coins, whales]
      properties:
        schema: { type: integer }
        generated_at: { $ref: "#/components/schemas/Ts" }
        generated_iso: { type: string }
        sources: { type: object, additionalProperties: { type: string } }
        coins: { type: array, items: { type: object, additionalProperties: true } }
        macro: { type: object, additionalProperties: true }
        whales: { type: object, additionalProperties: true }
